name: KenPom Update

on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch: {}

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup R
        uses: r-lib/actions/setup-r@v2

      - name: Run R script
        run: Rscript kenpom_update.R

      - name: Commit results
        if: always()
        run: |
          mkdir -p data
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add data/kenpom_summary.csv || echo "No file to add"
          git commit -m "update" || echo "No changes to commit"
          git push || echo "No push needed"
